:host ::ng-deep .ant-layout {
  height: 100%;
}

// :host ::ng-deep .ant-layout-footer {

//   background: #7dbcea;
//   color: #fff;
// }

:host ::ng-deep .ant-layout-footer {
height:5.4%;
padding: 0;
background: #FFFFFF;
height: 50px;
}
:host ::ng-deep .ant-layout-has-sider {
  height: 88.4%;
}
:host ::ng-deep .ant-layout-sider {
height:100%;
background: #FFFFFF;
width: 120px !important;
max-width: 120px !important;
min-width: 120px !important;
}

:host ::ng-deep .ant-layout-content {
background: #F5F5F5;
height:100%;
}

:host > ::ng-deep .ant-layout {
margin-bottom: 48px;
}

:host ::ng-deep .ant-layout:last-child {
margin: 0;
}

:host ::ng-deep .ant-layout-header {
background: #FFFFFF;
padding: 0 0px;
height: 6.2%;
line-height: inherit;
}
.sider-item {
  height: 100px;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  img {
      width: 30px;
      height: 30px;
  }
  span {
      margin-top: 10px;
      font-size: 16px;
      color: #FFFFFF;
  }
  &.selfactive {
      background: #0F2059; 
  }
}

