.content{
    width: 100%;
    height:100%;
    display: -webkit-flex;
    flex-direction: column;
    .top{
        -webkit-flex: 1;
        flex-direction: column;
        background-color: #EEEEEE;
        display: -webkit-flex;
        .header{
          display: -webkit-flex;
          max-height:130px;
          overflow-y:hidden;
          padding:15px; 
          ul{
              margin:0;
              padding:0;
              display: -webkit-flex;
              flex-wrap: wrap;
              
              li{
                  display: flex;
                  -webkit-align-items: center;
                  margin-bottom:10px;
                //   -webkit-justify-content: space-between;
                  width:270px;
                  margin-right:10px;
                  span,label{
                      width:65px;
                  }
                  input{
                      width:180px;
                      height:30px;
                  }
              }
              li:last-child{
                  width:360px;
              }
          }
        }
        .center{
             -webkit-flex: 1;
             display: -webkit-flex;          
             margin:0 10px;
             .left{
               border: 1px solid #C9C9C9;
               width:180px;
               display: -webkit-flex;
               flex-direction: column;
               div:first-child{
                   height:44px;
                   padding-left:20px;
                   line-height:44px;
                   border-bottom:1px solid #C9C9C9;
               }
               .slide{
                 width:100%;
                 height:85%;
                .ultop{
                    margin:0;
                    padding:0;
                    height:100%;
                    overflow-y:scroll;
                    li{
                        display: -webkit-flex;
                        -webkit-justify-content: space-between;
                        -webkit-align-items: center;
                    }
                }
               }
               
             }
             .right{
                 -webkit-flex: 1;
                 display: -webkit-flex;
                 .main{
                     -webkit-flex: 1;
                     display: -webkit-flex;
                     flex-direction: column;
                     .listheader{
                        height:60px;
                        padding:0 24px;
                        border: 1px solid #C9C9C9;
                       
                    }
                    .listcontent{
                        -webkit-flex: 1;
                        overflow-y: scroll;
                    }
                    &>div:last-child{
                        height:40px;
                        line-height:40px;
                        width:100%;
                        background: #F6FBFF;
                        box-shadow: 0 -4px 10px 0 rgba(205,226,244,0.44);
                    }
                 }
                 .help{
                     border: 1px solid #C9C9C9;
                     width:260px;
                     height:100%;
                     
                 }

             }
        }
    }
    .bottom{
        display: -webkit-flex;
        -webkit-justify-content: center;
        -webkit-align-items: center;
        height:60px;
        width:100%;

    }

}
::ng-deep .ant-tree>.ng-star-inserted>li{
    border-bottom:1px solid #C9C9C9;
}
::ng-deep nz-tree{
    -webkit-flex: 1;
    overflow-y: scroll;
}
::ng-deep .ant-select-selection{
    width:70%;
}
.changebtn:first-child{
      margin-right:10px;
}
.changebtn:last-child{
    margin-left:10px;
}
.nodata{
    display: -webkit-flex;
    flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}