<div class="content">
    <div class="top">
         <div class="header">
             <ul>
                <li class="chosetime">
                    <span>发生时间</span>          
                    <nz-date-picker [nzFormat]="dateFormat" [(ngModel)]="formtimestart" [nzDisabledDate]="disabledDate" ></nz-date-picker>
                    <nz-date-picker style="margin-left:10px;" [nzFormat]="dateFormat" [(ngModel)]="formtimeend" [nzDisabledDate]="disabledDate" ></nz-date-picker>
                </li>
               <li style="width:320px;" class="testsigle"> 
                  <app-search-slide (ChosePack)="onChosePack($event)"></app-search-slide>  
               </li>
              
               <li class="search" button-trigger  changeType="primary">
                  <button nz-button btntoggle nzType="primary" (click)="Search()" class="changebtn ant-btn-primary">查询</button>
                  <button nz-button btntoggle (click)="add(tplTitle, tplContent, tplFooter)" class="changebtn">新增</button>
               </li>
               <li style="width:150px;">
                  <div>灭菌合格率：<span style="color:red;">{{checkpercent}}</span></div> 
               </li>
             </ul>
         </div>
         <div class="center">
             <div class="right">
                  <div class="main">
                       <div class="listheader" nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
                               <div nz-col nzSpan="2" style="text-align:center;">包名称</div>
                               <div nz-col nzSpan="2" style="text-align:center;">时间</div>
                               <div nz-col nzSpan="2" style="text-align:center;">灭菌方式</div>
                               <div nz-col nzSpan="2" style="text-align:center;">设定时间</div>
                               <div nz-col nzSpan="2" style="text-align:center;">包装材料</div>
                               <div nz-col nzSpan="2" style="text-align:center;">体积</div>      
                               <div nz-col nzSpan="2" style="text-align:center;">重量</div>      
                               <div nz-col nzSpan="2" style="text-align:center;">数量</div>    
                               <div nz-col nzSpan="2" style="text-align:center;">发现方式</div>
                               <div nz-col nzSpan="2" style="text-align:center;">描述</div>    
                               <div nz-col nzSpan="2" style="text-align:center;">备注</div>
                               <div nz-col nzSpan="2" style="text-align:center;">操作</div>          
                       </div>          
                       <nz-list class="listcontent" *ngIf="countlist.length!=0"  [nzDataSource]="countlist" nzBordered
                           [nzRenderItem]="item" style="background-color:#E9E9E9;">
                           <ng-template #item let-item>
                               <nz-list-item nz-row nzType="flex" nzJustify="space-around" nzAlign="middle" style="background-color:white;">  
                                  <div nz-col nzSpan="2" style="text-align:center;">{{item.bmc}}</div>
                                  <div nz-col nzSpan="2" style="text-align:center;">{{item.djsj}}</div>
                                  <div nz-col nzSpan="2" style="text-align:center;">{{item.mjfs}}</div>
                                  <div nz-col nzSpan="2" style="text-align:center;">{{item.sdsj}}</div>
                                  <div nz-col nzSpan="2" style="text-align:center;">{{item.bzcl}}</div>
                                  <div nz-col nzSpan="2" style="text-align:center;">{{item.sbtj}}</div>      
                                  <div nz-col nzSpan="2" style="text-align:center;">{{item.sbzl}}</div>      
                                  <div nz-col nzSpan="2" style="text-align:center;">{{item.sbsl}}</div>    
                                  <div nz-col nzSpan="2" style="text-align:center;">{{item.fxfs}}</div>   
                                  <div nz-col nzSpan="2" style="text-align:center;">{{item.ms}}</div>    
                                  <div nz-col nzSpan="2" style="text-align:center;">{{item.remark}}</div>
                                  <div nz-col nzSpan="2" style="text-align:center;">
                                      <button nz-button size="small" (click)="change(item,tplTitle, tplContent, tplFooter)">修改</button>
                                      <button nz-button size="small" (click)="delete(item)">删除</button>
                                  </div>   
                               </nz-list-item>
                           </ng-template>                             
                       </nz-list>
                       <div class="listcontent nodata" *ngIf="countlist.length==0">
                             <img src="/assets/images/recovery-package-no-data.png" alt="">
                             <span>配包内容</span>
                       </div>
            
                  </div>
                
             </div>
         </div>
    </div>
  
  </div>


  <ng-template #tplTitle>
      <span style="font-size:20px;">添加</span>
  </ng-template>
  <ng-template #tplContent>
      <div class="modelcontent">
           <ul>
              <li *ngIf="!ifadd" style="position:relative;">
                 
                  <span>包名称</span>
                  <div>{{changepack}}</div>
                
               </li>
             <li *ngIf="ifadd" style="position:relative;">
                 <span style="color:red;width:6px;line-height:32px;">*</span>
                <app-search-slide #packslide (ChosePack)="onChosePack2($event)"></app-search-slide>  
                <!-- <span>包名称</span>
                 <input style="width: 200px;" #packinputone nz-input placeholder="请输入包拼音码" [(ngModel)]="packnameone" (keyup)="onsearchpack($event)">
                 <ul class="ultopone" *ngIf="showtopulone&&packs.length">
                     <li *ngFor="let item of packs" (click)="selectpackul(item,$event)">{{item.bmc}}</li>
                 </ul> -->
             </li>
             <li class="chosetime">
                <span style="color:red;width:6px;line-height:32px;">*</span>
                <span style="width:74px;">时间</span>          
                <nz-date-picker [nzFormat]="dateFormat" [(ngModel)]="timemodel" [nzDisabledDate]="disabledDate" [disabled]="!ifadd" nzShowTime></nz-date-picker>
            </li>
          
              <li>
                  <span>灭菌方式</span>
                  <nz-select style="width: 200px;" nzShowSearch nzAllowClear  [(ngModel)]="sterilizerType" >
                       <nz-option nzLabel="请选择" nzValue=""></nz-option>
                      <nz-option *ngFor="let option of sterilizerTypes" [nzLabel]="option.aaa103" [nzValue]="option.aaa102"></nz-option>
                  </nz-select>
              </li>
              <li>
                 <span>设定时间</span>
                 <nz-select style="width: 200px;" nzShowSearch nzAllowClear  [(ngModel)]="settime">
                      <nz-option nzLabel="请选择" nzValue=""></nz-option>
                     <nz-option *ngFor="let option of settimes" [nzLabel]="option.aaa103" [nzValue]="option.aaa102"></nz-option>
                 </nz-select>
             </li>
              <li>
                 <span>包装材料检索</span>
                 <nz-select style="width: 200px;" nzShowSearch nzAllowClear  [(ngModel)]="metialer">
                      <nz-option nzLabel="请选择" nzValue=""></nz-option>
                     <nz-option *ngFor="let option of metialers" [nzLabel]="option.aaa103" [nzValue]="option.aaa102"></nz-option>
                 </nz-select>
              </li>
              <li>
                 <span class="textpackagenum">湿包体积</span>
                 <input style="width: 200px;" nz-input  [(ngModel)]="witstrong" >
               </li>
               <li>
                   <span class="textpackagenum">湿包重量</span>
                   <input style="width: 200px;" nz-input  [(ngModel)]="witweight" >
               </li>
               <li>
                     <span class="textpackagenum">湿包数量</span>
                     <input style="width: 200px;" nz-input  [(ngModel)]="witnum">
               </li>
                <li>
                     <span>发现方式</span>
                     <nz-select style="width: 200px;" [(ngModel)]="findtype">
                           <nz-option nzLabel="请选择" nzValue=""></nz-option>
                           <nz-option nzLabel="卸载时" nzValue="卸载时"></nz-option>
                           <nz-option nzLabel="发放时" nzValue="发放时"></nz-option>
                           <nz-option nzLabel="下送时" nzValue="下送时"></nz-option>
                     </nz-select>
                </li>
                <li>
                    <span class="textpackagenum">描述</span>
                    <input style="width: 200px;" nz-input placeholder="描述" [(ngModel)]="speak"> 
                </li>
                <li>
                    <span class="textpackagenum">备注</span>
                    <input style="width: 200px;" nz-input placeholder="备注" [(ngModel)]="detail">
                </li>
           </ul>

      </div>

  
  </ng-template>
  <ng-template #tplFooter>
  <button nz-button nzType="primary" (click)="sureaddmessage()">保存</button>
  </ng-template>
  
  
  
  
  