<div class="header">
  <i class="anticon anticon-left" (click)="gobackhome()"></i>
  <span class="title" (click)="gobackhome()">{{deptName}}</span>
  <span class="userinfo">欢迎您,{{userName}}</span>
  <span class="userinfo">{{deptName}} |</span>
  <span class="out" (click)="loginout()">退出</span>
  <!-- <button nz-button nzType="default" class="default-button" >当前总锅次{{totalnum}}</button>
  <button nz-button nzType="default" class="default-button">当前锅次{{nownum}}</button>
  <button nz-button nzType="default" class="default-button" >当日总锅次{{todaytotalnum}}</button>   -->
  <button nz-button style="width:242px;" nzType="default" nzSize="large" disabled>待清洗:&nbsp;&nbsp;包数量{{tobewash?tobewash.bsl:''}},&nbsp;材料数量{{tobewash?tobewash.clsl:''}}</button>  
  <button nz-button style="width:242px;"nzType="default" nzSize="large" disabled>已清洗:&nbsp;&nbsp;包数量{{havewash?havewash.bsl:''}},&nbsp;材料数量{{havewash?havewash.clsl:''}}</button>  
  <!-- <span class="spanbut" >待清洗:&nbsp;&nbsp;包数量{{tobewash?tobewash.bsl:''}},&nbsp;材料数量{{tobewash?tobewash.clsl:''}}</span>    
  <span class="spanbut" >已清洗:&nbsp;&nbsp;包数量{{havewash?havewash.bsl:''}},&nbsp;材料数量{{havewash?havewash.clsl:''}}</span>  -->
 

</div>

