<div class="washcontent">
      <div class="left">
          <nz-list *ngIf="washerslist.length!=0" [nzDataSource]="washerslist" nzBordered [nzRenderItem]="item" class="liststyle">
          <ng-template #item let-item>
            <nz-list-item nz-row nzType="flex" nzAlign="middle" [class.changecolor]="item.active" class="washlist" (click)="getwasher(item)">
               
                <img src="./../../../../../assets/images/device_qxj.png" alt="">
                <div class="outdiv" style="display:flex;flex-direction: column;-webkit-flex: 1;">
                   <p style="color:#293660;font-size:14px;text-align:left;padding-left:8px;">{{item.dev_name}}</p>
                   <div style="display:flex;">
                      <div style="text-align:center;" class="rightdiv">
                          
                              <!-- <p style="color:#293660;font-size:14px;text-align:left;padding-left:8px;">{{item.dev_name}}</p> -->
                              <p style="font-size:12px;color:#293660;text-align:left;padding-left:8px;">日/总锅次:{{item.d_gc}}/{{item.t_gc}}</p>
                         </div>  
                         <div class="circle"> <span [ngClass]="{prepare:item.state=='1',blank:item.state=='0',tobetest:item.state=='3',washing:item.state=='2'}" [innerHTML]="item.state_name"></span> </div> 
                   </div>
                  
                </div>
                 
            </nz-list-item>
          </ng-template>
          </nz-list>
      </div>
      <div class="right" *ngIf="tempactiveitem" (click)="hideul()">
          <div class="head">
              <div>
                  <span>清洗时间</span>
                  <nz-date-picker [(ngModel)]="date" (ngModelChange)="onChange($event)" nzShowTime style="margin-left:20px;"></nz-date-picker>
                  <div style="position:relative;" *ngIf="washerstate!='3'">
                    <span class="textpackagenum">包条码</span>
                    <input #packageinput nz-input placeholder="请输入"  [(ngModel)]="packagename" (keyup)="packageidkeyup($event)">
                    <ul class="ultop" *ngIf="showtopul">
                        <li *ngFor="let item of slidelist" (click)="choosepackage(item,$event)">{{item.bmc}}</li>
                    </ul>
                  </div>
                  <div>
                    <span>清洗人</span>
                    <input nz-input placeholder="输入工号或扫码"  #afterperson 
                      (keyup)="personKeyUp($event)" [(ngModel)]="afterPerson">
                  </div>
              </div>
              <div>
                  <span style="width:60px;">清洗程序</span>
                  <ul class="ulbottom" *ngIf="washtype.length!=0">
                      <li *ngFor="let item of washtype" [class.active]="item.active" (click)="choosetype(item)">
                          <p style="text-align:center;">{{mutipe(item.aaa103,null)}}</p>
                          <p style="text-align:center;">({{mutipe(item.aaa103,'number')}})分</p>
                      </li>
                  </ul>
                  <div class="plantime">
                      <span>计划时间:</span>
                    <input  style="width:100px;"nz-input type="number" [(ngModel)]="plantime" (ngModelChange)="numberchange()">
                  </div>
              </div>
          </div>
          <div class="content">
                <div class="listheader" nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
                        <div nz-col nzSpan="4" *ngFor="let value of listheader;let i=index" style="text-align:center;">{{value}}</div>       
                </div>          
                <nz-list class="listcontent" *ngIf="washerdata.length!=0"  [nzDataSource]="washerdata" nzBordered [nzLoading]="loading"
                    [nzRenderItem]="item" style="background-color:#E9E9E9;">
                    <ng-template #item let-item>
                        <nz-list-item nz-row nzType="flex" nzJustify="space-around" nzAlign="middle" style="background-color:white;">
                            <div nz-col nzSpan="4" style="text-align:center;">{{item.basket_name}}</div>   
                            <div nz-col nzSpan="4" style="text-align:center;">{{item.bmc}}</div>
                            <div nz-col nzSpan="4" style="text-align:center;">{{item.clsl}}</div>
                            <div nz-col nzSpan="4" style="text-align:center;"><input style="width:50px;margin-left:5px;"nz-input placeholder="数量" (keyup)="numchange(item,$event)" [(ngModel)]="item.b_num"></div> 
                            <div nz-col nzSpan="4" style="text-align:center;"><button nz-button nzType="defalut" (click)="cansle(item)" *ngIf="washerstate!='3'">撤销</button></div>              
                        </nz-list-item>
                    </ng-template>                             
                </nz-list>
                <div *ngIf="washerdata.length==0" class="nopandata">
                    <img src="/assets/images/recovery-plate-no-data.png" alt="">
                </div>
                <div class="countall" nz-row nzType="flex" nzAlign="middle">
                    <span nz-col nzSpan="4" style="text-align:center;">汇总</span>
                    <span nz-col nzSpan="4" nzOffset="11" style="text-align:center;">{{totalpackage}}</span>
                </div>
          </div>
          <div class="bottom" *ngIf="(washerstate=='0'||washerstate=='1')&&washerstate!='3'">
                <button nz-button [nzType]="pan" (click)="changepan(tplTitle,tplFooter,tplContent)">换锅</button>
                <div style="width:20px;"></div>
                <button nz-button [nzType]="buttonwash" (click)="startwash()">开始清洗</button>
          </div>
          <div class="bottom" *ngIf="washerstate=='2'&&washerstate!='3'">
                <button nz-button [nzType]="pan" (click)="changepan(tplTitle,tplFooter,tplContent)">换锅</button>
                <button nz-button [nzType]="changebtn" (click)="change()" class="changebtn">修改</button>
                <button nz-button [nzType]="buttonwash" (click)="cancellation()">作废</button>
          </div>
      </div>
      
      <div *ngIf="!tempactiveitem" class="nodata">
          <img src="/assets/images/washcontent.png" alt="">
          <span>清洗内容</span>
      </div>
</div>

<ng-template #tplTitle>
        <span style="font-size:20px;">换锅</span>
</ng-template>
<ng-template #tplContent>
        <div >
            <p style="font-size:18px;margin-bottom:10px;">换锅原因</p>
            <div class="btndiv" button-trigger changeType="primary">
                <button nz-button btntoggle  nzBlock *ngFor="let item of reasons;let i=index" (click)="chosepan(item)">{{item.aaa103}}</button>
            </div>
            <p style="font-size:16px;margin:10px 0;">换后清洗机</p>
            <div class="btndiv" button-trigger changeType="primary">
                 <button nz-button btntoggle *ngFor="let item of freewashers;let i=index" [class.active]="item.check" (click)="chosetargetwasher(item)">{{item.dev_name}}</button>
            </div>       
        </div>
    
</ng-template>
<ng-template #tplFooter>
    <button nz-button nzType="primary" (click)="surechangepan()">确定</button>
</ng-template>
