<div class="footer">
  <span>{{timenow}}</span>
  <span class="version">系统版本：2.0.0</span>
  <div class="right">
    <span>欢迎您，{{userName}} {{userId}} {{deptName}}</span>
    <span class="manual-input">
      <img src="../../../assets/images/icon-manual-input.png"/>
      手动输入
    </span>
    <span class="space">|</span>
    <span class="artificial-voice">
      <img src="../../../assets/images/icon-artificial-voice.png"/>
      人工语音
    </span>
    <span class="logout" (click)="loginout()"> 
      退出系统
    </span>
  </div>
</div>
