.footer {
    padding: 0 20px 0 21px;
    height: 50px;
    font-size: 16px;
    color: #293660;
    line-height: 50px;
    .version, .manual-input, .logout {
        margin-left: 34px;
    }
    .right {
        float: right;
    }
    .logout, .manual-input, .artificial-voice {
        cursor: pointer;
    }
    .space {
        margin: 0 6px 0 0;
    }
    img {
        margin-bottom: 3px;
    }
}
.logout:hover{
    cursor: pointer;
}