.washresult{
    width:100%;
    height:100%;
    display: -webkit-flex;

    .left{
        width:260px;
        height:100%;
        overflow-y:scroll;
        flex:none;
        text-align: center;
        background-color:#F2F5FA;
        border-right:1px solid #D7DAE4;
      
        .washlist{
           width:100%;
           background: rgba(224,232,243,0.7);
            .circle{
                display: flex;
                -webkit-align-items: center;
                -webkit-justify-content: center;
                width:42px;
                height:42px;
              
                span{
                    color:white;
                    border-radius: 50%;
                    font-weight:bold;
                    font-size:14px;
                    height:42px;
                    width:42px;
                    line-height: 42px;
                    text-align: center;
                }
            }       
            .rightdiv{
                padding-left:8px;
                -webkit-flex: 1;
                text-align: left;
                .test{
                  
                }
            }
        }
    }
    .right{
        padding:10px;
        display: -webkit-flex;
        flex-direction: column;
        height:100%;
        -webkit-flex: 1;
        background-color: #F5F5F5;
  
        .rightheader{
            display: -webkit-flex;
            -webkit-align-items: center;
            .starttime{
                margin-left:10px;
            }
        }
        .content{
            margin-top:20px;
            display: -webkit-flex;
            flex-direction: column;
            -webkit-flex: 1;
            .status{
                display: -webkit-flex;
                &>div{
                    &>span{
                        text-align: center;
                        width:55px;
                    }
                    width:180px;
                    display: -webkit-flex;
                    -webkit-align-items: center;
                    -webkit-justify-content: space-between;
                }
           
            }
            .check{
                margin-top:20px;
                display: -webkit-flex;
                flex-wrap:wrap;
                &>div{
                    margin:0 10px;
                    &>span{
                        margin-right:5px;
                    }
                }
            }
      
          
        }
  
    }
    .nodata{
        display: flex;
        -webkit-flex: 1;
        flex-direction: column;
        -webkit-justify-content: center;
        -webkit-align-items: center;
    }
}




.changecolor{
    background-color:white!important;
}
.blank{
    background-color: #32B466;
}
.prepare{
    background-color: #4FC8DD;
}
.washing{
    background-color: #F43F54;
}
.tobetest{
    background-color: blue;
}
// ::ng-deep .ant-list{
//    display: -webkit-flex;
//    flex-direction: column;
//    -webkit-flex: 1;
// }

:host ::ng-deep .ant-list-item{
    padding-left:10px;
    padding-right:10px;
    border-radius: none;
}

.active{
    background: #F6FBFF;
    color: #5D96F4;
}
::ng-deep .colorred{
    color:red;
}
::ng-deep .colorgreen{
    color:green;
}
::ng-deep .coloryellow{
    color:yellow;
}
::ng-deep .colorblue{
    color:blue;
}
.red{
    background:#F43F54;
    color:white;
}

.bottombtn{
    display: -webkit-flex;
    -webkit-align-items: center;
    margin-top:10px;
    button:first-child{
        margin-right:10px;
    }
    button:last-child{
        margin-left:10px;
    }
}
.bottombtnsure{
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    margin-top:10px;
    button:first-child{
        margin-right:10px;
    }
    button:last-child{
        margin-left:10px;
    }
}
::ng-deep .listcontent{
    -webkit-flex: 1;
    overflow-y: scroll;
}
.btndiv{
    width:100%;
    button{
        width:100%;
        margin-bottom:10px;
        
    }
}
.metiralstate{
    font-size:12px;
    color:#666666;
    text-align:left;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: space-around;
    &>div{
      // display: -webkit-flex;
      &>span{
        width:18px;
        i{
          width:18px;
          height:18px;
          font-size:18px;
        }
      }
    }
}
.blockbtn{
    width:100%;
}
.modalcontent{
    margin:0;
    padding:0;
    height:400px;
    &>li{
        margin:10px 0;
    }
}